services:
  load-balancer:
    build:
      context: ./nginx
    ports:
      - "80:80"
    restart: always
    volumes:
      - ./nginx/nginx.conf:/app/etc/nginx/nginx.conf:rw
      - ./nginx/sites-enabled/load-balancer.conf:/app/etc/nginx/sites-enabled/load-balancer.conf:rw
    networks:
      - url-shortener-network

  api:
    build:
      context: .
    deploy:
      mode: replicated
      replicas: 3
    restart: unless-stopped
    networks:
      - url-shortener-network

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - url-shortener-network

  cassandra1:
    image: cassandra:latest
    container_name: cassandra1
    hostname: cassandra1
    ports:
      - "9042:9042"
    environment: &cassandra-env
      CASSANDRA_SEEDS: "cassandra1"
      CASSANDRA_CLUSTER_NAME: CassandraCluster
      CASSANDRA_DC: DC1
      CASSANDRA_RACK: RACK1
      CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
      CASSANDRA_NUM_TOKENS: 16
      JVM_EXTRA_OPTS: "-Xms256M -Xmx512M"
    mem_limit: 1g
    healthcheck:
      test: ["CMD-SHELL", "nodetool status"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - cassandra_data1:/var/lib/cassandra
    networks:
      - url-shortener-network

  cassandra2:
    image: cassandra:latest
    container_name: cassandra2
    hostname: cassandra2
    ports:
      - "9043:9042"
    environment:
      <<: *cassandra-env
    depends_on:
      cassandra1:
        condition: service_healthy
    mem_limit: 1g
    volumes:
      - cassandra_data2:/var/lib/cassandra
    networks:
      - url-shortener-network

networks:
  url-shortener-network:
    driver: bridge
    ipam:
      config:
        - subnet: 10.3.0.0/26

volumes:
  redis_data:
    driver: local
  cassandra_data1:
    driver: local
  cassandra_data2:
    driver: local
