services:
  load-balancer:
    build:
      context: ./nginx
    ports:
      - "80:80"
    restart: always
    volumes:
      - ./nginx/nginx.conf:/app/etc/nginx/nginx.conf:rw
      - ./nginx/sites-enabled/load-balancer.conf:/app/etc/nginx/sites-enabled/load-balancer.conf:rw
    networks:
      - url-shortener-network

  api:
    build:
      context: .
    deploy:
      mode: replicated
      replicas: 3
    restart: unless-stopped
    networks:
      - url-shortener-network

  redis:
    image: redis:7-alpine
    container_name: redis
    networks:
      - url-shortener-network

  cassandra:
    image: cassandra:latest
    container_name: cassandra
    ports:
      - "9042:9042"
    environment:
      - MAX_HEAP_SIZE=256M
      - HEAP_NEWSIZE=128M
      - CASSANDRA_CLUSTER_NAME=MyCluster
      - CASSANDRA_DC=datacenter1
      - CASSANDRA_ENDPOINT_SNITCH=SimpleSnitch
      - CASSANDRA_NUM_TOKENS=128
    networks:
      - url-shortener-network

networks:
  url-shortener-network:
    driver: bridge
    ipam:
      config:
        - subnet: 10.3.0.0/26
